<div class="note-display" [ngClass]="{'light-mode': !isDarkMode}">
    <ng-container *ngIf="searchQuery.length<1">
        <app-take-notes></app-take-notes></ng-container>
    <div class="contents" #contents [style.height.px]="containerHeight"
        [ngStyle]="{flexDirection: isGridDisplay ? 'row' : 'column',height:isGridDisplay ? '' : 'auto'}">
        <div *ngFor="let note of notes | filterNotesLabel:label | orderPinnedNotes| filterNotesContent:searchQuery "
            class="content">
            <app-single-note [note]="note" [isGridDisplay]="isGridDisplay"></app-single-note>
        </div>
    </div>
    <div class="empty" *ngIf="!notes?.length">
        <i class="fa-regular fa-lightbulb"></i>
        <p>Notes you add appear here</p>
    </div>
</div>
<router-outlet></router-outlet>