@import '/src/styles/shared-styles.scss';

.single-note {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(95, 99, 104);
    border-radius: 0.25rem;
    width: 15rem;
    max-height: 30rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    p {
        margin: 0;
    }

    &:hover {

        &>.info,
        footer {
            .icon {
                opacity: 1
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        cursor: pointer;
        width: 2.5rem;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s;

        &>i {
            font-size: medium;
        }

        &:hover {
            background-color: rgba(84, 84, 84, 0.245);
        }
    }

    &>.info {
        display: flex;
        width: 100%;
        padding: 0.5rem;

        &>main {
            width: 100%;
            max-height: 20rem;
            overflow: hidden;

            &>header {
                width: 12rem;
                font-weight: bold;
                margin-bottom: 5px;
                text-align: justify;
            }

            &>.empty {
                color: rgba(204, 204, 204, 0.5);
                font-size: 1.5rem;
            }


        }

    }

    &>.labels {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;

        &>p,
        span {
            font-size: small;
            border: 1px solid rgb(95, 99, 104);
            padding: 0.15rem;
            border-radius: 0.5rem;
        }
    }

    &>.remainder {
        display: flex;
        align-items: center;
        margin: 0.25rem 0.5rem;
        border: 1px solid rgb(95, 99, 104);
        padding: 0.25rem;
        width: 7rem;
        border-radius: 0.5rem;

        &>i {
            margin-right: 0.15rem;
        }

        &>p,
        i {
            font-size: small;
        }
    }

    &>footer {
        display: flex;
        align-items: center;
        position: relative;

        .icon {
            .name {
                position: absolute;
                width: max-content;
                padding: 0.15rem;
                border-radius: 0.25rem;
                bottom: -1.5rem;
                z-index: 7;
                text-align: center;
                font-size: small;
                background-color: rgb(82, 83, 85);
            }
        }

        &>.options {
            position: absolute;
            bottom: 1.5rem;
            right: 0;
        }

        &>.label-editor-component {
            position: absolute;
            bottom: 2rem;
            right: -1rem;
            background-color: rgb(32, 33, 36);
            z-index: 1;
        }

        &>.color-picker {
            position: absolute;
            align-self: center;
            bottom: -6rem;
        }

        &>.remainder-setter {
            position: absolute;
            align-self: center;
            z-index: 5;
            bottom: -10.5rem;
        }
    }
}

.light-mode {
    border: 1px solid $light-border-color;
    box-shadow: none;

    .icon {
        i {
            color: $light-icon-note-color;
        }

        &:hover {
            background-color: $light-icon-note-hover-background-color;
        }
    }

    &>.info {
        &>main {
            .empty {
                color: $light-empty-text-color;
            }
        }
    }

    &>footer {
        &>.label-editor-component {
            background-color: $light-background-color;
        }
    }

    &>.labels>p,
    span,
    .remainder {
        border: 1px solid $light-border-color;
        background-color: $light-icon-note-hover-background-color;
    }
}