<div class="single-note"
    [ngStyle]="{backgroundColor: note.backgroundColor,backgroundImage: 'url(' + note.backgroundImage + ')',width: isGridDisplay ? '' : '35rem'}">
    <div class="info">
        <main class="content" (click)="openNoteDetails()">
            <header>{{note.title}}</header>
            <p *ngIf="note.content.length>1">{{note.content.slice(0, 550)}}{{note.content.length > 550 ? "..." : ""}}
            </p>
            <p class="empty" *ngIf="note.content==='\n'">Empty note</p>
        </main>
        <div class="icon" (click)="pinNote()">
            <i class="fa-solid fa-thumbtack" [ngStyle]="{color: note.isPinned ? 'rgb(251,188,4)' : ''}"></i>
        </div>
    </div>
    <div class="labels">
        <ng-container *ngFor="let item of note.labels; let i = index">
            <p *ngIf="i < 3" class="label">{{ item }}</p>
        </ng-container>
        <ng-container *ngIf="note.labels">
            <span *ngIf="note.labels.length > 3">
                +{{ note.labels.length - 3 }} more
            </span>
        </ng-container>
    </div>
    <div class="remainder" *ngIf="note.remainder?.date" (mouseover)="displayRemainder()" (mouseout)="hideRemainder()">
        <i class="fa-solid fa-clock"></i>
        <p>{{ note.remainder?.date | date: 'dd MMM' }}
            ,{{ editRemainder ? note.remainder?.time?.slice(0, 2) : note.remainder?.time }}</p>
        <p [ngStyle]="{display: editRemainder ? 'block' : 'none'}">...</p>
        <i class="fa-solid fa-xmark" [ngStyle]="{display: editRemainder ? 'block' : 'none'}"
            (click)="deleteRemainder()"></i>
    </div>

    <footer>
        <div class="icon" *ngFor="let item of iconData">
            <i [ngClass]="item.iconClasses" (mouseover)="showIconName(item.iconName)" (mouseout)="hideIconName()"
                (click)="item.clickAction()">
            </i>
            <p *ngIf="item.showName" class="name">{{item.iconName}}</p>
        </div>
        <app-note-options class="options" *ngIf="isOptionsMenuVisible" (changeLabelClicked)="changeLabel()"
            (deleteNoteClicked)="deleteNote()" (makeCopyClicked)="makeCopy()">
        </app-note-options>
        <app-label-editor class="label-editor-component" [noteId]="note.id"
            *ngIf="isLabelEditorVisible"></app-label-editor>
        <div class="color-picker" (click)="showColorPicker()">
            <app-color-picker [show]="show" [(selectedColor)]="selectedColor"
                [(selectedImage)]="selectedImage"></app-color-picker>
        </div>
        <div class="remainder-setter" *ngIf="showRemainder">
            <app-remainder-setter [(showRemainder)]="showRemainder"
                (remainderChange)="remainderSet($event)"></app-remainder-setter>
        </div>
    </footer>


</div>