.main {
    display: flex;

    &>:nth-child(1) {
        position: absolute;
        left: 0;
        z-index: 1;
        background-color: rgb(32, 33, 36);
    }

    &>:nth-child(2) {
        flex: 1;
        margin-left: 5rem;
    }
}