@import '/src//styles/shared-styles.scss';

.take-note {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(95, 99, 104);
    position: relative;
    border-radius: 0.25rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

    p {
        margin: 0;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        cursor: pointer;
        width: 2.5rem;
        border-radius: 50%;

        &>i {
            font-size: medium;
        }

        &:hover {
            background-color: rgba(84, 84, 84, 0.245);
        }

        &>.name {
            position: absolute;
            width: max-content;
            padding: 0.15rem;
            border-radius: 0.25rem;
            bottom: -1.5rem;
            text-align: center;
            font-size: small;
            background-color: rgba(82, 83, 85, 0.67);
        }
    }

    &>main {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>input {
                font-weight: bold;
                background-color: transparent;
                border: none;
                outline: none;
            }

            &>* {
                padding: 1rem;
            }
        }

        .body {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            &>* {
                padding: 1rem;
            }

            &>input {
                height: 2rem;
                width: 25rem;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1rem;
            }

            &>textarea {
                background-color: transparent;
                border: none;
                white-space: pre-wrap;
                width: 100%;
                outline: none;
                resize: none;
                height: auto;
                overflow: visible;
                white-space: pre-line;
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        width: 100%;

        &>button {
            margin-left: 10rem;
            background-color: transparent;
            border-radius: 0.25rem;
            padding: 0.5rem;
            border: none;
            cursor: pointer;
            font-weight: bold;
            outline: none;

            &:hover {
                background-color: rgba(84, 84, 84, 0.245);
            }
        }
    }

    .color-picker {
        position: absolute;
        align-self: center;
        bottom: -6rem;
        z-index: 6;
    }

    .remainder-setter {
        position: absolute;
        align-self: center;
        bottom: -10rem;
        z-index: 4;
    }

    &>.options {
        position: absolute;
        bottom: 1.5rem;
        align-self: center;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        border-radius: 0.25rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        padding: 0.25rem;

        &>p {
            width: 100%;
            padding: 0.25rem;

            &:hover {
                background-color: rgba(84, 84, 84, 0.245)
            }
        }

    }

    &>.label-editor-component {
        position: absolute;
        bottom: 2rem;
        align-self: center;
        background-color: rgb(32, 33, 36);
        z-index: 10;
    }
}

.light-mode {
    border: none;

    .icon {
        i {
            color: $light-icon-note-color;
        }

        &:hover {
            background-color: $light-icon-note-hover-background-color;
        }
    }

    &>.info {
        &>main {
            .empty {
                color: $light-empty-text-color;
            }
        }
    }

    .footer {
        &>button:hover {
            background-color: $light-icon-note-hover-background-color;
        }
    }

    .label-editor-component {
        background-color: $light-background-color;
    }

    .options {
        p:hover {
            background-color: $light-icon-hover-background-color;
        }
    }
}