$dark-background-color: rgb(32, 33, 36);
$dark-border-color: rgb(95, 99, 104);

$dark-color: rgb(232, 234, 236);

$dark-secondary-button-color: rgb(138, 180, 248);
$dark-button-hover-background-color: rgba(84, 84, 84, 0.245);

$dark-icon-color: rgb(204, 204, 204, 0.5);
$dark-icon-hover-background-color: rgba(84, 84, 84, 0.245);

$dark-search-background-color: rgb(82, 83, 85);
$dark-search-color: rgb(189, 189, 189);

$dark-active-link-background-color: rgba(65, 51, 28);

$dark-scroll-color: rgb(108, 108, 108);

$dark-searchtype-background-color: rgb(40, 41, 44);
$dark-searchitem-background-color: rgb(60, 64, 67);
$dark-searchitem-hover-background-color: rgb(138, 180, 248);

$dark-empty-icon-color: rgb(55, 56, 58);
$dark-empty-text-color: rgb(154, 160, 166);
$light-background-color: rgb(255, 255, 255);
$light-border-color: rgb(224, 224, 224);

$light-color: rgb(32, 33, 36);

$light-secondary-button-color: rgb(138, 180, 248);
$light-button-hover-background-color: rgba(249, 249, 249);

$light-icon-color: rgb(117, 117, 117);
$light-icon-hover-background-color: rgba(235, 235, 235);
$light-icon-note-color:rgb(32,33,36);
$light-icon-note-hover-background-color: rgb(255,255,255,0.5);

$light-search-background-color: rgb(245, 245, 245);
$light-search-color: rgb(32, 33, 36);

$light-active-link-background-color: rgba(254, 239, 195);

$light-scroll-color: rgb(204, 204, 204);

$light-searchtype-background-color: rgb(255, 255, 255);
$light-searchitem-background-color: rgb(245, 245, 245);
$light-searchitem-hover-background-color: rgb(138, 180, 248);

$light-empty-icon-color: rgb(229, 229, 229);
$light-empty-text-color: rgb(95, 99, 104);