<div class="note-display" [ngClass]="{'light-mode': !isDarkMode}">
    <div class="contents" #contents [style.height.px]="containerHeight"
        [ngStyle]="{flexDirection: isGridDisplay ? 'row' : 'column',height:isGridDisplay ? '' : 'auto'}">
        <div *ngFor="let note of notes" class="content">
            <app-single-note [note]="note" [isGridDisplay]="isGridDisplay"></app-single-note>
        </div>
    </div>
    <div class="empty" *ngIf="!notes?.length">
        <i class="fa-solid fa-bell"></i>
        <p>Notes with upcoming reminders appear here</p>
    </div>
</div>