<div class="popup-background" *ngIf="note!=undefined" [ngClass]="{'light-mode': !isDarkMode}">
    <div class="single-note">
        <main [ngStyle]="{backgroundColor: note.backgroundColor,backgroundImage: 'url(' + note.backgroundImage + ')'}">
            <div class="info">
                <main class="note-content">
                    <header>{{note.title}}</header>
                    <textarea #textcontent type="text" [(ngModel)]="note.content" appLabelExtractor
                        (labelsChanged)="updateLabels($event)" (input)="adjustTextareaHeight(textcontent)"></textarea>

                </main>
                <div class="icon" (click)="pinNote()">
                    <i class="fa-solid fa-thumbtack" [ngStyle]="{color: note.isPinned ? 'rgb(251,188,4)' : ''}"></i>
                </div>
            </div>
            <div *ngIf="note.labels && note.labels.length > 0" class="labels">
                <p *ngFor="let item of note.labels">{{item}}</p>
            </div>
            <p class="edited-on">{{note.editedOn | date:"dd-MMM-yyyy hh:mm"}}</p>
            <div class="remainder" *ngIf="note.remainder?.date" (mouseover)="displayRemainder()"
                (mouseout)="hideRemainder()">
                <i class="fa-solid fa-clock"></i>
                <p>{{ note.remainder?.date | date: 'dd MMM' }}
                    ,{{ editRemainder ? note.remainder?.time?.slice(0, 2) : note.remainder?.time }}</p>
                <p [ngStyle]="{display: editRemainder ? 'block' : 'none'}">...</p>
                <i class="fa-solid fa-xmark" [ngStyle]="{display: editRemainder ? 'block' : 'none'}"
                    (click)="deleteRemainder()"></i>
            </div>
        </main>
        <footer [ngStyle]="{backgroundColor: note.backgroundColor}">
            <div class="icon" *ngFor="let item of iconData">
                <i [ngClass]="item.iconClasses" (mouseover)="showIconName(item.iconName)" (mouseout)="hideIconName()"
                    (click)="item.clickAction()">
                </i>
                <p *ngIf="item.showName" class="name">{{item.iconName}}</p>
            </div>
            <button (click)="close()">Close</button>
            <app-note-options class="options" *ngIf="isOptionsMenuVisible" (changeLabelClicked)="changeLabel()"
                (deleteNoteClicked)="deleteNote()" (makeCopyClicked)="makeCopy()">
            </app-note-options>
            <app-label-editor class="label-editor-component" [noteId]="note.id"
                *ngIf="isLabelEditorVisible"></app-label-editor>
            <div class="color-picker" (click)="showColorPicker()">
                <app-color-picker [show]="show" [(selectedColor)]="selectedColor"
                    [(selectedImage)]="selectedImage"></app-color-picker>
            </div>
            <div class="remainder-setter" *ngIf="showRemainder">
                <app-remainder-setter [(showRemainder)]="showRemainder"
                    (remainderChange)="remainderSet($event)"></app-remainder-setter>
            </div>
        </footer>
    </div>
</div>