@import '/src/styles/shared-styles.scss';

.color-pallete,
.image-pallete {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.5rem;
    background-color: rgb(32, 33, 36);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

    .color,
    .image {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            border: 1px solid;
        }
         &>.name {
        position: absolute;
        width: max-content;
        padding: 0.15rem;
        border-radius: 0.25rem;
        z-index: 7;
        bottom: -2.25rem;
        text-align: center;
        font-size: small;
        background-color: rgba(82, 83, 85, 0.67);
    }
    }
    .color {
        position: relative;
    }
   

    &>:nth-child(1) {
        border: 1px solid;
    }

    .transparentBorder {
        border: 1px solid;
    }

    .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        height: 2.5rem;
        width: 2.5rem;
    }
}
.line {
    width: 100%;
    height: 1px;
    background-color: rgb(108, 108, 108);
}

.light-mode {
    background-color: $light-background-color;
    .color{
        .name{
            background-color: $dark-search-background-color;
            color: $dark-color;
        }
    }
}