@import '/src/styles/shared-styles.scss';

body {
   background-color: rgb(32, 33, 36);

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   color: rgb(232, 234, 236);
   text-decoration: none;
}

i {
   cursor: pointer;
   font-size: 1.25rem;
   color: rgba(204, 204, 204, 0.5);
}

:root.light-mode {
   background-color: $light-background-color;

   .app {
      background-color: $light-background-color;
   }

   * {
      color: $light-color;
   }

   i {
      color: $light-icon-color;
   }

   .icon {
      &:hover {
         background-color: $light-icon-hover-background-color;
      }

      &>.name {
         background-color: $dark-search-background-color;
         color: $light-background-color;
      }
   }

}