<div class="contents" (mouseenter)="showAllLabels()" (mouseleave)="hideAllLabels()"
    [ngStyle]="{boxShadow: showLabels() ? '5px 0 5px -5px rgba(0, 0, 0, 0.5)' : ''}">
    <a routerLinkActive="active-link" routerLink={{item.routerLink}} class="side" *ngFor="let item of generalIconData"
        [ngStyle]="{'border-radius': showLabels() ? '0 2rem 2rem 0' : '50%',width:showLabels()?'12rem':'max-content'}">
        <i [ngClass]="item.iconClasses" [ngStyle]="{width:showLabels()?'2rem':'max-content'}"></i>
        <p *ngIf="showLabels()">{{item.iconName}}</p>
    </a>
</div>